@using AdressBook.Models;

@{
  Layout = "_Layout";
}
<h1>Search Results:</h1>
<ul>
  @foreach(Contact contact in Model)
  {
    <li><a href='/contact/@contact.GetId()'>@contact.GetName()</a></li>
  }
</ul>
