@{
  Layout = "_Layout";
}

<form action="/contact/results" method="post">
  <label class="well" for="search">Search</label>
  <input type="text" name="search" id="search">
  <button class="btn btn-xl btn-info" type="submit" name="button">search</button>
</form>
