@{
  Layout = "_Layout";
}

<h1>Contact Details for @Model.GetName():</h1>
<ul>
  <li>Address: @Model.GetAddress()</li>
  <li>Phone Number: @Model.GetPhone()</li>
</ul>

<form action="/contact/delete/@Model.GetId()" method="post">
  <button type="submit" name="button">Delete Contact</button>
</form>
